# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime project related files
*.sublime-project
*.sublime-workspace

# Binary files
/pc/heli_detector
